@charset "utf-8";
/* CSS Document */

/* 整合样式 */
ul, body, h3{
	margin:0; 
	padding:0; 	
}
ul{
	list-style:none;
}
h3{
	font-size:18px;
	font-weight:normal;
	line-height:27px;
}
h4{
	margin:0;
	padding:0;
}
fieldset{
	margin:0;
	padding:0;
	border:0;
}
img{
	display:block; 
}
label{
	display:block;
	color:#555;
	margin-bottom:5px;
}
a{
	text-decoration:none;
	color:#4183c4;
}
a:visited{
	color:#4183c4;
}
a:hover{
	color:#4183c4;
	text-decoration:underline;
}
a:active{
	color:#3065b0;
}
body{ 
	color:#333; 
	background-color:#fafafa; 
	font-size:13px; 
	line-height:150%;
	font-family:"微软雅黑";
}

.pullleft{float:left;}
.pullright{float:right;}
.clearboth{clear:both; width:0; height:0;}

#pmt{
	background-color:#333;
	color:#e5e5e5;
	border-radius:3px;
	position:absolute;
	padding:5px;
	max-width:300px;
}
#pmtTriangle{
	background-image:url(../imgs/pmtReverseTriangle.svg);
	position:absolute;
	height:10px;
	width:22px;
}
.btn{
	font-family:Arial;
	line-height:18px;
	font-size:13px;
	text-align:center;
	vertical-align:middle;
	cursor:default;
	display:inline-block;
	padding:4px 10px;
	color:#333;
	background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image:-ms-linear-gradient(top, #fff, #e6e6e6);
	background-repeat:repeat-x;
	border:1px solid #ccc;
	border-radius:4px;
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.btn:visited{
	color:#333;
}
.btn:hover{
	text-decoration:none;
	color:#222;
	background-color: #e6e6e6;
	background-position: 0 -15px;
}
.btn:active{
	box-shadow:inset 0px 2px 6px #bbb;
}
.flatbtn{
	font-family:Arial;
	font-size:13px;
	text-align:center;
	vertical-align:middle;
	cursor:default;
	color:#333;
	background-image:-webkit-linear-gradient(top, #fff, #f5f5f5);
	background-image:-ms-linear-gradient(top, #fff, #f5f5f5);
	background-repeat:repeat-x;
	border:1px solid #ddd;
	border-radius:2px;
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.flatbtn:visited{
	color:#333;
}
.flatbtn:hover{
	text-decoration:none;
	color:#222;
	background-color: #f5f5f5;
	background-position: 0 -15px;
}
.flatbtn:active{
	box-shadow:inset 0px 2px 2px #f0f0f0;
}

.submitBtn{
	color:#fff;
	background-color:#04c;
	background-image:-webkit-linear-gradient(top, #08c, #04c);
	background-image:-ms-linear-gradient(top, #08c, #04c);
	background-repeat:repeat-x;
	border:1px solid #666;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.submitBtn:hover{
	color:#ddd;
	background-color: #04c;
	background-position: 0 -15px;
}
.submitBtn:active{
	transition-duration:0;
	box-shadow:inset 0px 3px 10px #02f;
}

.te{
	transition-duration:.1s;
	transition-property:all;
	transition-timing-function:ease-in-out;
}
.teslowly{
	transition-duration:.2s;
	transition-property:all;
	transition-timing-function:ease-in;
}
.mainbox{
	border: 1px solid #ccc;
	border-radius:2px;
	box-shadow:0 3px 7px #ccc;
	background-color:#FFF;
}
.inputLable{
	font-size:13px;
}
.inputField{
	padding:4px;
	color:#666;
	border-radius:2px;
	border:1px solid #ccc;	
}
.inputField:hover{
	outline:none;
	border-color:rgba(0,51,255,.5);
}
.inputField:focus{
	outline:none;
	border-color:rgba(0,51,255,.5);
	box-shadow:0 0 8px rgba(0,51,255,.5);
}
.form-field-group{
	margin-bottom:10px;
}

.header{
	height:40px;
	width:100%;
	background-image:linear-gradient(#f9f9f9, #f3f3f3);
	border-bottom:1px solid #d5d5d5;
	box-shadow:inset 0 -1px 8px rgba(255,255,255,0.8);
}



/* container 样式 */
.container{ 
	width:940px; 
	margin-left:auto; 
	margin-right:auto;
}

/* login 专用样式 */
.login-mainbox{ 
	position:absolute; 
	background-color:#fff;
	left:50%; 
	width:340px;
	top:80px;
	margin:0 0 0 -170px; 
}
.logobox{
	padding:50px 30px 10px 30px;
}
.model-header{
	border-bottom:1px #ddd solid;
}
.logo-a{
	font-family:"Courier New", Courier,  monospace;
	font-size:40px;
	text-shadow:0px 1px 3px #666;
}
.logo-a:hover{
	text-shadow:0px 1px 8px #666;
}
#logo-a-add{
	color:#d00;
}
.logo-b{
	padding-top:10px;
	font-family:"微软雅黑";
	font-size:16px;
	letter-spacing:3px;
}
.login-tit{
	padding:15px;
}

.model-body{
	padding:15px;
}
.model-footer{
	height:28px;
	border-top:1px solid #ddd;
	-webkit-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	-webkit-box-shadow:inset 0 1px #FFFFFF;
	box-shadow:inset 0 1px #FFFFFF;
	background-color:#f5f5f5;
	padding:15px;
}

/* register 专用样式 */
.register-mainbox{
	position:absolute;
	width:900px;
	top:80px;
	left:50%;
	margin:0 0 0 -450px;
	background-color:#FFF;
}
.register-tit{
	padding:30px;
}
.model-body-register-left{
	width:310px;;
}
.model-body-register-right{
	width:310px;
}
#register-model-body{
	padding-left:80px;
	padding-right:80px;
}

/* main样式 */
.navbox{
	padding:15px;
	background-color:#eff;
	border-radius:4px;
}
.navbox-menubox{
	color:#666;	
}
.navbox-menu-tit{
	cursor:pointer;
	line-height:30px;
}
.navbox-menu-itembox{
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#99F;
	display:none;
}
.sslote{
	transition-duration:.3s;
	transition-property:all;
	transition-timing-function:ease-in-out;
}
.showlately{
	transition-duration:.1s;
	transition-property:display;
	transition-delay:3s;
	transition-timing-function:ease-in-out;
	
}
.navbox-menu-item{
	cursor:default;
	line-height:200%;
}
.navbox-menu-item:hover{
	cursor:default;
	text-decoration:none;
}

/* header 样式 */
.headerPaneDivide{
	margin-left:20px;
	width:20px;
	height:40px;
//	background-color:#999;
	border-left:1px solid #e3e3e3;
	box-shadow:inset 1px 0px 1px rgba(255,255,255,1);
}
.siteTitle{
	color:#444;
	font-size:24px;
	line-height:40px;
	letter-spacing:10px;
	text-shadow:1px 1px 2px #FFF;
}
.mainNav{
	margin-left:20px;
}
.aMainNavItem{
	font-family:"宋体";
	font-weight:bold;
	font-size:12px;
	text-align:center;
	display:block;
	width:80px;
	height:40px;
	line-height:40px;
	letter-spacing:1px;
	color:#666;
}
.aMainNavItem:visited{
	color:#666;
}
.aMainNavItem:hover{
	color:#4183c4;
	text-decoration:none;
}
.aMainNavItem:active{
	color:#3065b0;
}
.aMainNavItemActive{
	color:#4183c4;
	width:78px;
	height:37px;
	line-height:35px;
	background-color:#fafafa;
	border:1px solid #d5d5d5;
	border-bottom:1px solid #fafafa;
	border-top:3px solid #4183c4;
}
.aMainNavItemActive:visited{
	color:#4183c4;
}
.aMainNavItemActive:active{
	color:#3065b0;
	background-color:fafafa;
	border-top:3px solid #3065b0;
}
.userProfile{
	width:257px;
}
.userProfileLeft, .userProfileRight{
	height:40px;
}
.userProfileRight{
	margin-right:20px;
}
.userProfileItem{
	line-height:20px;
}

.subMainNav{
	border-bottom:1px dashed #d5d5d5;
	height:30px;
}
.currentLocation{
	float:left;
	line-height:30px;
}
.subMainNavItem ul li{
	float:left;
}
.subMainNavItem{
	position:absolute;
	display:none;
	margin-left:352px;
}
.subMainNavItem ul li a{
	display:block;
	width:90px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#666;
}

/* 次级导航栏样式 */
.subMainNavItemActive{
	color:#4183c4;
}
.subMainNavItemActive:visited{
	color:#4183c4;
}
.subMainNavItem ul li a:hover{
	color:#4183c4;
}
.subMainNavItem ul li a:active{
	color:#3065b0;
}

/*学生在线答题样式*/
.draft {
	position:fixed;
	margin-top:100px;
	margin-left:30px;
	width:120px;
	height:200px;
	border:1px solid #13D6FF;
	color:#13D6FF;
	cursor:pointer;
	text-align:center;
	line-height:90px;
	font-size:70px;
	font-weight:bold;
}
.topicList {
	margin-top:5px;
	margin-bottom:5px;
	//border:1px solid #000;
	border-right:1px solid #ccc;
	float:left;
	width:470px;
}
.topicTitle {
	margin-top:0px;
	margin-left:10px;
	width:450px;
	height:30px;
	line-height:34px;
	border-bottom:1px solid #970000;
}
.tTitle {
	margin-left:10px;
	width:370px;
	float:left;
	//border:1px solid #000;
}
.beginAnswer {
	margin-right:10px;
}
.topicNameList {
	margin-top:10px;	
	margin-left:40px;
	width:450px;
	//border:1px solid #000;
}
.answerNotes {
	margin-top:5px;
	margin-bottom:5px;	
	margin-left:470px;
	//border:1px solid #000;
	width:440px;
}
.select_time {
	margin-left:60px;
}
.notes{
	margin-top:10px;
	margin-left:20px;
	//border:1px solid #000;
	width:420px;
}
.noteTitle{
	height:25px;
	line-height:27px;
	color:#800000;
	border-bottom:1px solid #FFB5B5;
}
.noteTitleTime{
	margin-left:3px;
	float:left;
	width:342px;
}
.noteTitleScore{
	margin-left:20px;
}
.note{
	margin-left:25px;
	margin-top:2px;
	//border:1px solid #000;
}
.single_question_answer {
	//border:1px solid #ccc;
	float:left;
	width:700px;
}
.single_question{
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	line-height:20px;
	border-bottom:1px solid #ccc;
	
}
.singleSelect {
	margin-left:50px;
	margin-top:20px;
	line-height:24px;
}
.select_box{
	margin-left:700px;
	border-left:1px solid #ccc;
	height:235px;
}
.select_btn {
	margin-top:4px;
	margin-left:5px;
	color:#FFF;
	font-size:90px;
	line-height:110px;
	text-align:center;	
	height:110px;
	float:left;
	width:110px;
	cursor:pointer;	
}
input[type="radio"] {
	height:0px;
	width:0px;
}
.selectActive {
	margin-left:70px;
	margin-top:-40px;
	//border:1px solid #000;
	position:absolute;
	width:40px;
	height:40px;
	background-image:url(../imgs/gougou.gif);
	background-repeat:no-repeat;
	display:none;
}
.selectA {
	background-color:#efe4b0;
}
.selectB {
	background-color:#b5e61d;
	margin-right:5px;
}
.selectC {
	margin-bottom:5px;
	background-color:#99d9ea;
}
.selectD {
	background-color:#c8bfe7;
	margin-bottom:5px;
	margin-right:5px;	
}
.answer_question {
	width:900px;
}
.a_question {
	margin-left:20px;
	margin-top:10px;
}
.a_answer {
	margin-bottom:10px;
	width:890px;
	margin-left:20px;
}
.a_txt {
	margin-top:10px;
	margin-left:20px;
}
.judge_question {
	width:700px;
	float:left;
}
.j_question {
	margin-left:20px;
	margin-top:10px;
}
.j_answer_box {	
	margin-left:700px;
	border-left:1px solid #ccc;
	height:120px;
}
.j_answer {
	width:110px;
	height:110px;
	float:left;
	margin-left:5px;
	margin-top:4px;
	margin-bottom:5px;	
	color:#FFF;
	font-size:90px;
	line-height:110px;
	text-align:center;
	cursor:pointer;	
}
.j_true {
	background-color:#0F0;
}
.j_false {
	background-color:#F00;
}
.fill_vacant_question {
	width:900px;
}
.fv_question {
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.fv_input {
	margin-left:6px;
	margin-right:6px;
	outline:none;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:1px solid #ccc;
}
.submit_question {
	width:100px;
	float:right;
	height:30px;
}
/*课表样式*/
.selectView_coursePlan {
	display:none;
}
.absoluteCoursePlan {
	margin-top:170px;
	margin-left:200px;
	position:absolute;
}
.absoluteCoursePlanNav {
	margin-top:140px;
	margin-left:200px;
	position:absolute;
}

.coursePlan {
	width:800px;
	height:600px;
	display:block;
	text-align:center;
}
.coursePlan table {
	border-top:1px solid #000;
	border-right:1px solid #000;
	background-color:#FFF;
	width:800px;
	height:600px;
}
.coursePlan table td {
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	cursor:pointer;
}
.coursePlanNav {
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-top:1px solid #000;
	background-color:#FFF;
	height:30px;
	width:798px;
}
.monthView {
	height:30px;
	width:100px;
	color:#fff;
	line-height:30px;
	text-align:center;
	background-color:#06F;
	float:left;
	cursor:pointer;
}
.coursePlanView {
	height:30px;
	width:100px;
	cursor:pointer;
	line-height:30px;
	color:#fff;
	text-align:center;
	background-color:#73E93A;
	border-left:1px solid #000;
	border-right:1px solid #000;
	float:left;
}
.currentDateTime {
	height:30px;
	line-height:30px;
	float:right;
	margin-right:170px;
}
.preWeek {
	margin-right:10px;
}
.changeWeek {
	color:#600;
	text-decoration:none;
	margin-top:2px;
	//border:1px solid #000;
	height:25px;
	width:50px;
	cursor:pointer;
	float:left;
	text-align:center;
	line-height:25px;	
}
.dateWeek {
	float:left;
}
.nextWeek {
	margin-left:10px;
}
.coursePlanTitle {
	background-color:#eee;
}
.coursePlanClose {
	color:#F00;
	text-align:center;
	font-weight:bold;
	font-family:"微软雅黑";
	line-height:15px;
	cursor:pointer;
}
#A {
}

/* courseWork */
.courseTimeLabel{
	border-bottom:1px dashed #d5d5d5;
	height:25px;
}
.courseTimeLabelItem{
	line-height:25px;
	text-align:center;
	padding:0 10px;
}
.courseTimeLabelItemOne{
	background-color:#CF9;
}
.courseTimeLabelItemTwo{
	width:390px;
}
.courseTimeLabelItemThree{
	background-color:#CF9;
}


.firstLR{
	height:400px;
	margin-top:10px;
}
.LRleft{
	border: 1px #ccc solid;
	padding:10px;
	width:300px;
	height:380px;
}
.cwCoursingTitle{
	border-bottom: 1px solid #970000;
	padding-left:10px;
	line-height:200%;
}
.cwCoursing{
	padding-left:30px;
}
.cwCoursing ul{
	list-style:decimal;
}
.cwCoursing ul li{
	line-height:35px;
	height:35px;	
}
.LRRight{
	border: 1px #ccc solid;
	margin-left:10px;
	padding:10px;
	width:586px;
	height:380px;
}
.wluBtn{
	margin-left:20px;
	padding:5px 15px;
	width:20px;
	height:20px;	
}
.archiveButtonImg{
	background:url(../imgs/filing.svg) no-repeat 0 1px;
	width:20px;
	height:20px;
}
.delButtonImg{
	background:url(../imgs/del.svg) no-repeat 0 1px;
	width:19px;
	height:19px;
}
.createCourseButtonImg{
	background:url(../imgs/addItem.svg) no-repeat 2px 1px;
	width:20px;
	height:20px;	
}
.shareButtonImg{
	background:url(../imgs/share.svg) no-repeat;
	width:20px;
	height:20px;
}
.checkAllCheckbox{
}

.workLabelUp{
}
.workLabelDown{	
	height:348px;
}
.workLabelDownTit{
	padding:5px;
	border-bottom:1px solid #970000;
}
.workLabelDownContainer{
	height:318px;
}
.wldcListBox{
	height:318px;
	overflow-y:scroll;
	display:block;
	border-left:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}
.wldcItem{
	padding-left:10px;
	line-height:30px;
	height:30px;
	cursor:default;
}
.cacbDiv{
	padding:6px 10px;
}

.wldcItemOdd{
	background-color:#f5f5f5;
}
.wldcItemEven{
	background-color:#fff;
}
.wldcAttr{
	height:30px;	
}
.wldcAttr img{
	display:inline-block;
	height:20px;
	width:20px;
	margin:5px 0 0 5px;
}
.wldcQuickLook{
	height:30px;
}
.wldcQuickLookBtn{
	margin:2px;
	width:80px;
	height:24px;
	line-height:24px;
}
.detailButtonImg{
	background:url(../imgs/detail.svg) no-repeat;
	width:20px;
	height:20px;
}
.answerButtonImg{
	background:url(../imgs/answer.svg) no-repeat;
	width:20px;
	height:20px;	
}
.wldcAttr{
	height:30px;
}
.wldcaacBtn{
	margin:2px;
	padding:2px 5px;
}
.wldcAttrAfterCont{
	margin-right:5px;
}
.wldcAttrAfterContEnd{
	margin-right:10px;
}
.createWorkBox{
	position:relative;
	display:none;	
}
.cwbTitIpt{
	width:450px;
	height:20px;
	line-height:20px;
	margin:10px 5px;
}
.cwbCtnIptLabel{
	height:314px;
}
.cwbCtnIpt{
	width:566px;
	height:254px;
	margin:0 5px;
}
.cwbTitIptPmt{	
	margin:16px 0 0 15px;
}
.cwbCtnIptPmt{
	margin:52px 0 0 15px;
}
.inputPmt{
	position:absolute;
	letter-spacing:2px;
	color:#aaa;
}
.cwbBtnBox{
	margin:10px 0 0 33px;
	width:78px;
}
.cwbCtnTool{
	position:absolute;
	width:400px;
	height:30px;
	bottom:1px;
	margin-left:6px;
	border-radius: 0 5px 0 0;
	background-image:-webkit-linear-gradient(top, #fff, #f5f5f5);
	background-image:-ms-linear-gradient(top, #fff, #f5f5f5);
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}
.cwbCtnToolImg{
}
.cwbCtnTool div {
	margin-left:10px;
	line-height:30px;
	padding:5px 0 0 7px;
}
.tbHead{
	height:30px;
	line-height:30px;
	background-image:-webkit-linear-gradient(top, #fff, #f5f5f5);
	background-image:-ms-linear-gradient(top, #fff, #f5f5f5);
	border:1px solid #ccc;
	border-bottom:none;
	border-radius:3px 3px 0 0;
}
.daTit{
	width:932px;
	margin-top:15px;
	padding-left:8px;
}
.dynamicAnswerItem{
	margin-top:15px;
	min-height:110px;
	position:relative;
}
.daInfo{
	position: absolute;
	width:100px;
	padding:10px 0;
	left:-102px;
}
.divInfo{
	border-radius:3px 0 0 3px;
	border:1px solid #ccc;
	border-right:none;
	background-image:-webkit-linear-gradient(top, #fff, #f5f5f5);
	background-image:-ms-linear-gradient(top, #fff, #f5f5f5);
	box-shadow:-2px 2px 7px #ccc;
}
.daInfoName{
	padding-left:15px;
	font-size:20px;
	line-height:30px;
}
.daInfoTime{
	padding-left:15px;
	font-size:23px;
	line-height:30px;
}
.daInfoDate{
	padding-left:15px;
	font-size:15px;
	line-height:20px;
}
.disabledIF{
	background-color:#fff;
}





















